<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="image/logo1.png">
    <link rel="stylesheet" href="/stylesheets/{{style}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <title>Responses</title>
</head>

<body>
    <table border="1" cellpadding="5" cellspacing="5">
        <tr class="h8">
            <td>Name</td>
            <td>PhoneNumber</td>
            <td>Area </td>
            <td>Problem</td>
            <td>Latitude</td>
            <td>Longitude</td>
            <td>Nearest Landmark</td>
            <td>Request Created At</td>
        </tr>

        {{#each response}}
        <tr>
            <td>{{this.person}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.area}}</td>
            <td>{{this.problem}}</td>
            <td>{{this.location.coordinates.[1]}}</td>
            <td>{{this.location.coordinates.[0]}}</td>
            <td>{{this.location.formattedAddress}}</td>
            <td>{{this.createdAt}}</td>
        </tr>
        {{/each}}

    </table>

</body>

</html>